      <style>

        .footer-snippet {
          display: block;
          width:100%
        }

       .footer-separator {
            display: block;
            width: 80%;
            opacity: 0.3;
        }
        .footer-content {
            display: flex;
            width: 100%;  
            background-color: var(--footer-bg);
            color: var(--footer-text);
            padding: 2rem 0;
            justify-content: center;
        }

        .footer-content-container {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            justify-content: space-between;
            width: 80%;
        }

        .footer-nav ul,
        .footer-social ul {
            /**margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5rem;**/
            display: flex;
            gap: 1.5rem;
        }

        .footer-_nav a,
        .footer-social a {
            color: var(--footer-text);
            text-decoration: none;
            font-size: 0.9rem;
            transition: color 0.2s;
        }

        .footer-nav a:hover,
        .footer-social a:hover {
            color: var(--footer-link-hover);
        }

        .footer-copyright {
            font-size: 0.875rem;
        }
        
        /* Media query for larger screens */
        @media (min-width: 768px) {
            .footer-agency__cta-heading { font-size: 3rem; }
            .footer-agency__cta-link { font-size: 1.75rem; }
            .footer-agency__bottom-container {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    </style>
    <footer class="footer-snippet" role="contentinfo">
    <hr/ class="footer-separator">
        <section class="footer-content">
            
            <div class="container footer-content-container">
               <nav class="footer-social" aria-label="Social Media">
                    <ul>
                      <li><a href="#">LinkedIn</a></li>
                      <li><a href="#">GitHub</a></li>
                      <li><a href="#">Dev.to</a></li>
                    </ul>
                </nav>
                <nav class="footer-nav" aria-label="Footer Navigation">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Write-ups</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Learning Notes</a></li>
                    </ul>
                </nav>
                <p class="footer-copyright">&copy; 2026 Mustafa Awad</p>
            </div>
        </section>
    </footer>