      <style>

        .footer-snippet {
          display: block;
          width:100%;
        }

       .footer-separator {
            display: block;
            width: 70%;
            opacity: 0.3;
        }
        .footer-content {
            display: flex;
            width: 100%;  
            background-color: var(--footer-bg);
            color: var(--footer-text);
            padding: 1rem 0;
            justify-content: center;
        }

        .footer-content-container {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            justify-content: space-between;
            width: 70%;
        }

        .footer-nav ul,
        .footer-social ul {
            /**
            flex-wrap: wrap;
            **/
            display: flex;
            gap: 1.5rem;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            flex-wrap: wrap;
            opacity: 0.9;
        }

        .footer-nav a,
        .footer-social a {
            color: var(--footer-text);
            text-decoration: none;
            font-size: 0.9rem;
            transition: color 0.2s;
        }

        .footer-nav a:hover,
        .footer-social a:hover {
            color: var(--footer-link-hover);
        }

        .footer-copyright {
            font-size: 0.875rem;
            opacity: 0.7;
        }
        
        /* Media query for larger screens */
        @media (min-width: 768px) {
            .footer-agency__bottom-container {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    </style>
    <footer class="footer-snippet" role="contentinfo">
    <hr/ class="footer-separator">
        <section class="footer-content">
            
            <div class="container footer-content-container">
               <nav class="footer-social" aria-label="Social Media">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/mustafaawad-security/" target="_blank">LinkedIn</a></li>
                      <li><a href="https://github.com/Mustafaawad-security" target="_blank">GitHub</a></li>
                      <li><a href="https://dev.to/mustafaawad" target="_blank">Dev.to</a></li>
                    </ul>
                </nav>
                <nav class="footer-nav" aria-label="Footer Navigation">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/write-ups">Write-ups</a></li>
                        <li><a href="/articles">Articles</a></li>
                        <li><a href="/learning-notes">Learning Notes</a></li>
                    </ul>
                </nav>
                <p class="footer-copyright">&copy; 2026 Mustafa Awad</p>
            </div>
        </section>
    </footer>